#!/usr/bin/env bash
apk add --update ca-certificates openssl \
  && update-ca-certificates \
  && wget -q -O consul-template.zip https://releases.hashicorp.com/consul-template/0.19.5/consul-template_0.19.5_linux_386.zip \
  && unzip consul-template.zip -d /usr/local/bin \
  && rm consul-template.zip \
