consul {
    address = "http://dfwconsv1.containerstore.com:8500"
}

vault {
    address = "https://vault.containerstore.com"
}

sanitize = true

upcase = true

once = true

# This block is for loading properties from Consul
prefix {
    no_prefix = true
    path      = "/app/{{=<% %>=}}{{env \"DEPLOYMENT_ENVIRONMENT\"}}<%={{ }}=%>/{{project.name}}"
}

# This block is for loading secrets from vault
secret {
    no_prefix = true
    format = "{{project.name}}-{{ key }}"
    path= "secret/service/{{=<% %>=}}{{env \"DEPLOYMENT_ENVIRONMENT\"}}<%={{ }}=%>/{{project.name}}"
}

log_level = "debug"

# This block defines the configuration the the child process to execute and
# manage.
exec {
    # This is the command to execute as a child process. There can be only one
    # command per process.
    command = "/home/app/shim.sh"

    # This is a random splay to wait before killing the command. The default
    # value is 0 (no wait), but large clusters should consider setting a splay
    # value to prevent all child processes from reloading at the same time when
    # data changes occur. When this value is set to non-zero, Envconsul will wait
    # a random period of time up to the splay value before killing the child
    # process. This can be used to prevent the thundering herd problem on
    # applications that do not gracefully reload.
    splay = "5s"

    env {
        # This specifies if the child process should not inherit the parent
        # process's environment. By default, the child will have full access to the
        # environment variables of the parent. Setting this to true will send only
        # the values specified in `custom_env` to the child process.
        pristine = false
    }

    # This defines the signal sent to the child process when Envconsul is
    # gracefully shutting down. The application should begin a graceful cleanup.
    # If the application does not terminate before the `kill_timeout`, it will
    # be terminated (effectively "kill -9"). The default value is shown below.
    kill_signal = "SIGTERM"

    # This defines the amount of time to wait for the child process to gracefully
    # terminate when Envconsul exits. After this specified time, the child
    # process will be force-killed (effectively "kill -9"). The default value is
    # "30s".
    kill_timeout = "2s"
}