#!/usr/bin/env bash
set -e

if [ $# -eq 0 ]; then
    echo "Usage: $0 [image-id|repository:tag]"
    echo "Expecting the image id (sha) or repository:tag"
    exit 1
fi

docker run \
  -p 8080:8080 \
  -v $(pwd)/build/secrets:/etc/secrets/service/salesforce/salesforce_services_app:ro \
  -e DEPLOYMENT_ENVIRONMENT=development \
  -e DEPLOYMENT_STACK=preview \
  -e VAULT_ADDR=https://vault.containerstore.com \
  -e VAULT_TOKEN=$(cat ~/.vault-token) \
{{#vault.environmentVariables}}
  -e {{name}}=$(vault read -field={{key}} {{secret}}) \
{{/vault.environmentVariables}}  
  $1
