#!/bin/sh
{{=<% %>=}}
<%#vault.environmentVariables %>
export <% name %>={{ with secret "<% secret %>" }}{{ index .Data "<% key %>" }}{{ end }}"
<%/vault.environmentVariables%>

java \
  -Ddeployment.environment=${DEPLOYMENT_ENVIRONMENT} \
  -Ddeployment.stack=${DEPLOYMENT_STACK} \
  -Dlogging.console.enabled=true \
  -Dserver.use-forward-headers=true \
  ${JAVA_OPTS} \
<%#vault.systemProperties %>
export <% name %>={{ with secret "<% secret %>" }}{{ index .Data "<% key %>" }}{{ end }}"
<%/vault.systemProperties%>
  -jar /home/{{runAsUser}}/{{buildArtifactName}}
<%={{ }}=%>
